@use 'variables' as var;

.default {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  padding: 0.5rem 2.5rem;
  border: 2px solid var.$white;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 2.5rem;
}
.sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 2.5rem;
  padding: 0.25rem 2.5rem;
  font-size: 1.2rem;
  border: 1px solid var.$white;
  border-radius: 1.5rem;
}
