@use 'variables' as var;

.lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var.$white;
  border: 2px solid var.$white;
  border-radius: 1.5rem;
}
