@use 'variables' as var;

.container {
  margin-top: 4rem;
}
.ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uiLength {
  font-size: 1.6rem;
  // font-weight: bold;
}
.uiSwitch {
  width: 4rem;
  height: 1.75rem;
  background-color: var.$white;
  border: 2px solid var.$white;
  border-radius: 5rem;
}
.uiSwitchInside {
  display: block;
  width: 50%;
  height: 100%;
  background-color: var.$purple;
  border-radius: 5rem;
}
.main {
  margin-top: 2rem;
}
.mainList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 1.5rem;
}

// row mode

// .mainList {
//   display: grid;
//   grid-template-columns: auto;
//   gap: 1.5rem;
// }

.mainButton {
  // width: 100%;
  // min-height: 6rem;
  margin-top: 5rem;
  // font-size: 1.4rem;
  // font-weight: bold;
  // color: var.$white;
  // border: 2px solid var.$white;
  // border-radius: 1.5rem;
}
