.container {
  margin-top: 4rem;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 1.5rem;
}

// row mode

// .list {
//   display: grid;
//   grid-template-columns: auto;
//   gap: 1.5rem;
// }
