@use 'variables' as var;

.mainItem {
  // background-color: var.$purple_week;
  background-color: var.$key_week;
  //   border-radius: 2rem;
  border-radius: 1.5rem;
}
.mainItemLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2.5rem 2rem;
}
.mainItemLinkCategory {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  padding: 0.25rem 2.5rem;
  font-size: 1.2rem;
  //   font-weight: bold;
  //   border: 2px solid var.$white;
  border: 1px solid var.$white;
  border-radius: 1.5rem;
}
.mainItemLinkTitle {
  position: relative;
  // margin: 2rem 0;
  margin: 1.5rem 0;
  // padding-bottom: 3.5rem;
  // padding-bottom: 2.5rem;
  padding-bottom: 2rem;
  // font-size: 1.6rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.65;
  text-align: center;
  &::before {
    position: absolute;
    bottom: 0;
    left: calc(50% - 2.5rem);
    content: '';
    width: 5rem;
    // height: 2px;
    height: 1px;
    background-color: var.$white;
  }
}
.mainItemLinkTime {
  font-size: 1.2rem;
  //   font-weight: bold;
}

// row mode

// .mainItem {
//   background-color: var.$purple_week;
// // background-color: var.$key_week;
//   border-radius: 1.5rem;
// }
// .mainItemLink {
//   position: relative;
//   display: block;
//   padding: 2rem 2rem 3rem;
// }
// .mainItemLinkCategory {
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 2.5rem;
//   padding: 0.25rem 2.5rem;
//   font-size: 1.2rem;
//   //   font-weight: bold;
//   //   border: 2px solid var.$white;
//   border: 1px solid var.$white;
//   border-radius: 1.5rem;
// }
// .mainItemLinkTitle {
//   // margin-top: 2rem;
//   margin-top: 1.5rem;
//   font-size: 1.6rem;
//   font-weight: bold;
// }
// .mainItemLinkTime {
//   position: absolute;
//   top: 2rem;
//   right: 2rem;
//   font-size: 1.2rem;
//   opacity: 0.6;
// }

@media screen and (max-width: var.$sp) {
  .mainItemLink {
    // padding: 2.5rem 3rem;
    padding: 2.5rem 3rem;
  }
  .mainItemLinkTitle {
    // margin: 1.5rem 0;
    // padding-bottom: 2rem;
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
  }
  .mainItemLinkCategory {
    padding: 0.25rem 2rem;
  }
}
