@use 'variables' as var;

.category {
  // color: var.$purple;
  color: var.$key;
  background-color: var.$white;
  // border: 2px solid var.$purple;
  border: 2px solid var.$key;
}
.point {
  position: relative;
  &::before {
    position: absolute;
    // top: 2rem;
    top: calc(50% - 1.5rem);
    left: 1rem;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var.$white;
  }
}

@media screen and (max-width: var.$sp) {
  .point {
    &::before {
      top: 1rem;
      left: calc(50% - 0.25rem);
      background-color: var.$key;
    }
  }
}
