// color
// default
$key: #111321;
$key_week: #232432;
$white: #ffffff;
//
// dark mode
// $white: #ffffff;
// $key: #151515;
// $key_week: #292929;
//
// light mode
// $white: #292929;
// $key: #ffffff;
// $key_week: #ecedef;

// font
$inter: 'Inter', sans-serif;
$notosansjp: 'Noto Sans JP', sans-serif;
$bold: 800;
$semi: 600;

// ease
$easeInOut: cubic-bezier(0.4, 0, 0, 1);

// @media
$pc: 1440px;
$sp: 768px;
