// color
$purple: #111321;
$purple_week: #232432;
// $white: #f8fcfd;
$white: #f7f7f7;
$black: #242424;

// font
$noto: 'Noto Sans JP', sans-serif;
$yu-mincho: 'YuMincho', 'Yu Mincho', Yu Mincho, YuMincho, '游明朝';
$cormorant: 'Cormorant', sans-serif;
$bold: 800;
$semi: 600;

// ease
$easeInOut: cubic-bezier(0.4, 0, 0, 1);

// @media
$pc: 1440px;
$sp: 768px;
