@use 'variables' as var;

.container {
  margin-top: 10rem;
}
.main {
  position: relative;
  //   margin-bottom: 4rem;
  //   padding-bottom: 4rem;
  margin-bottom: 6rem;
  padding-bottom: 6rem;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var.$white;
  }
}
.mainImg {
  width: 100%;
  height: 54rem;
  //   height: 48rem;
}
.mainContent {
  margin-top: 4rem;
  //   margin-top: 2.5rem;
}
.mainContentTitle {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}
.mainContentTitleName {
  position: relative;
  margin-right: 3rem;
  padding-right: 3rem;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 2px;
    height: 100%;
    background-color: var.$white;
  }
}
.mainContentUrl {
  font-size: 1.2rem;
}
.mainContentDescription {
  //   margin-top: 1.5rem;
  margin-top: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.8;
}
.detail {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}
.detailDl {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.detailDt {
  font-size: 1.6rem;
  font-weight: bold;
}
.detailDd {
  margin: 0;
  font-size: 1.4rem;
}
