@use 'variables' as var;

.container {
  margin-top: 10rem;
}
.header {
  position: relative;
  //   margin-bottom: 4rem;
  //   padding-bottom: 4rem;
  margin-bottom: 6rem;
  padding-bottom: 6rem;
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var.$white;
  }
}
.headerImg {
  width: 100%;
  height: 54rem;
  //   height: 48rem;
  border-radius: 1rem;
  overflow: hidden;
}
.headerContent {
  // margin-top: 4rem;
  margin-top: 2.5rem;
}
.headerContentTitle {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
}
.headerContentTitleName {
  position: relative;
  // margin-right: 3rem;
  // padding-right: 3rem;
  margin-right: 2rem;
  padding-right: 2rem;
  &::before {
    position: absolute;
    // top: 0;
    top: 25%;
    right: 0;
    content: '';
    width: 2px;
    // height: 100%;
    height: 50%;
    background-color: var.$white;
  }
}
.headerContentDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerContentDetailUrl {
  font-size: 1.2rem;
}
.headerContentDetailDate {
  position: relative;
  font-size: 1.2rem;
  &::before {
    position: absolute;
    top: 50%;
    left: -1.5rem;
    content: '';
    width: 1rem;
    height: 1px;
    background-color: var.$white;
  }
}
.headerContentDescription {
  //   margin-top: 1.5rem;
  margin-top: 2.5rem;
  // font-size: 1.4rem;
  font-size: 1.6rem;
  line-height: 1.8;
}
.body {
  display: grid;
  grid-template-columns: auto;
  // gap: 2rem;
  gap: 3rem;
}
.bodyDl {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.bodyDt {
  // font-size: 1.6rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.bodyDd {
  margin: 0;
  // font-size: 1.4rem;
  font-size: 1.6rem;
  line-height: 1.8;
}

@media screen and (max-width: var.$sp) {
  .container {
    margin-top: 5rem;
  }
  .header {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }
  .headerImg {
    height: 24rem;
  }
  .headerContent {
    margin-top: 2rem;
  }
  .headerContentTitle {
    font-size: 2rem;
  }
  .headerContentTitleName {
    margin-right: 1.5rem;
    padding-right: 1.5rem;
  }
  .headerContentDescription {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  .body {
    gap: 2rem;
  }
  .bodyDt {
    font-size: 1.6rem;
  }
  .bodyDd {
    font-size: 1.4rem;
  }
}
